<footer class="bg-light py-4 fixed-bottom container">
  <p class="text-center text-muted mb-0">&copy; 2020 The Awesome People. All rights reserved.</p>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ZVPz5V6pK1k9dp5F6WFLH3ONrQlsmm8/PLDwhQeVcmQoswSOBgDRvhts7l+EXy3f"
    crossorigin="anonymous">
  </script>
</footer>